.boxgrid{
	font-family: 'Raleway', sans-serif;	
	width: 278px; 
	height: 181px; 
	margin:10px; 
	float:left; 
	background:#161613;
	overflow: hidden; 
	position: relative; 
}
.boxgrid img{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0;
}
.boxgrid p{
	color:#FFFFFF;
	font-size:11px;
	padding:0px 15px 10px 15px; 
}
h3{
	color:#999;
    padding:15px 15px 0px 15px;
    margin:0px;
    font-size:18px;
	font-weight:bold;
}
h3:hover{
    padding:15px 15px 0px 15px;
    margin:0px;
    font-size:18px;
	color:#666;
	cursor:pointer;
}