@charset "utf-8";
/* CSS Document */
/* Index Style */

body{	
	margin-top:0px;
}

#photo{
	text-align:center;
	margin-top:250px;
	margin-bottom:10px;
}

#languages{
	text-align:center;
}

#languages a{
	text-align:center;
	text-decoration:none;
	font-family:"Arial";
	font-size:9px;
	color:#000;
}

#languages a:hover{
	text-align:center;
	color:#999;
}
